@charset "UTF-8";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #f6f6f6;
}
body .loading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  animation: loadinger 0.1s;
  animation-delay: 2.9s;
  animation-fill-mode: both;
  z-index: 998;
  opacity: 0.5;
}
body .loading {
  border: 5px solid #9356DC;
  border-top: 5px solid #99E2D0;
  border-bottom: 5px solid #FF79DA;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: loading 0.7s ease-in-out;
  animation-iteration-count: 3;
  z-index: 999;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadinger {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
body .logo {
  width: 50%;
  margin-top: 1rem;
  padding-left: 5.5rem;
}
body p {
  text-align: center;
}
body .header-localisation {
  font-size: 22px;
}
body .header-subtitle {
  font-size: 20px;
  width: 98%;
}
body .textbold {
  font-size: 30px;
  margin-top: 0;
}
body .contenu-header i {
  left: 6rem;
  position: absolute;
}
body .icon-titre {
  display: block;
  padding-bottom: 1rem;
}
body h3 {
  text-align: center;
}
body .button-explorer {
  border: 0;
  color: white;
  border-radius: 4rem;
  cursor: pointer;
  height: 3.5rem;
  transition: all 0.2s;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 70%;
  margin-left: 3rem;
}
body .main {
  padding-left: 1rem;
  background-color: white;
}
body .titre-fonctionnement {
  text-align: left;
}
body .fonctionnement-items {
  position: relative;
  background-color: #FFFFFF;
}
body .item-number {
  position: absolute;
  top: 50%;
  left: 0;
  padding-top: 0.7rem;
  padding-left: 1rem;
}
body .btn-fonctionnement {
  border: 0;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  padding: 0.2rem;
}
body .first-button {
  display: flex;
  background-color: #f6f6f6;
  align-items: center;
}
body .first-button i {
  margin-left: 1.2rem;
  color: grey;
  padding-top: 0rem;
  padding-left: 1.2rem;
}
body .third-button {
  display: flex;
  align-items: center;
}
body .third-button i {
  color: #9356DC;
  margin-left: 1.4rem;
}
body .ctn-fonctionnement {
  font-size: 20px;
  background-color: #f6f6f6;
  position: relative;
  margin: 10px 20px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 3rem;
  padding: 1rem;
}
body i {
  position: absolute;
  font-size: 25px;
}
body .second-button {
  display: flex;
  align-items: center;
}
body .second-button i {
  padding-top: 0rem;
  padding-left: 2.2rem;
  color: grey;
}
body .third-button i {
  padding-top: 0rem;
  padding-left: 0.7rem;
}
body .icon-button {
  position: absolute;
}
body .icon-button-color {
  position: absolute;
  color: #9356DC;
}
body .img-restaurants {
  width: 100%;
  cursor: pointer;
  height: 17rem;
  object-fit: cover;
}
body .green-ticket {
  position: relative;
  background-color: #99E2D0;
  border-radius: 3px;
  font-size: 1rem;
  left: 75%;
  top: 3rem;
  padding: 0.5rem;
}
body .restau {
  text-align: left;
  font-size: 1.5rem;
  margin: 0;
  margin-top: 4rem;
}
body h2 {
  font-size: 25px;
}
body .menu-restaurants {
  background-color: #f6f6f6;
  transition: 0.8s;
  animation: slide 2s reverse;
}
@keyframes slide {
  0% {
    transform: translateY(0px);
    opacity: 2;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
body .nom-restau {
  position: relative;
  transform: translateY(-29px);
  border-radius: 2rem;
  background: #f6f6f6;
}
body .toto {
  position: relative;
  height: 5rem;
  overflow: hidden;
}
body .heart-1 {
  color: black;
  position: absolute;
  bottom: 0;
  font-size: 1.95rem;
  margin-bottom: 1.5rem;
  right: 1rem;
}
body .titi {
  max-height: 0;
  transition: max-height 1s linear;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  left: 17.01rem;
  margin-bottom: 1.5rem;
}
body .heart-2 {
  position: relative;
  transform: translateY(-100%);
  transition: transform 1s linear;
  color: transparent;
  font-size: 1.95rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  background-clip: text;
}
body .toto:hover .titi {
  max-height: 1.95rem;
}
body .toto:hover .heart-2 {
  transform: translateY(0);
}
body .titre-menu {
  font-family: "Shrikhand", cursive;
  text-align: left;
  margin-left: 1rem;
}
body .titre-restau {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
body .subtitle-menus {
  font-size: 20px;
  text-align: left;
  margin: 0;
  margin-left: 1rem;
  padding-bottom: 1rem;
}
body .arrow {
  color: black;
  position: relative;
  top: 1.9rem;
  left: 1.5rem;
  font-size: 1.5rem;
}
body .entrees {
  text-align: left;
  margin-left: 1rem;
  font-size: 20px;
  border-bottom: #99E2D0 2px solid;
  width: 13%;
  padding: 0 0 0.3rem;
  margin-top: 0;
}
body .plats {
  text-align: left;
  margin-left: 1rem;
  font-size: 20px;
  border-bottom: #99E2D0 2px solid;
  width: 13%;
  padding: 0 0 0.3rem;
  padding-top: 2rem;
}
body .desserts {
  text-align: left;
  margin-left: 1rem;
  font-size: 20px;
  border-bottom: #99E2D0 2px solid;
  width: 13%;
  padding: 0 0 0.3rem;
  padding-top: 2rem;
}
body .menu-plats {
  text-align: left;
  margin-left: 1rem;
  font-size: 17px;
  font-weight: bold;
  margin: 0.8rem;
  margin-bottom: 0;
}
body .acc-plats {
  text-align: left;
  margin-left: 0.8rem;
  font-size: 15px;
}
body .prix {
  text-align: right;
  font-weight: bold;
  padding-right: 2rem;
}
body .button-command {
  border: 0;
  color: white;
  border-radius: 4rem;
  cursor: pointer;
  height: 3.5rem;
  transition: all 0.2s;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 62%;
  margin-left: 4rem;
  margin-top: 2rem;
}
body .button-ctn {
  width: 100%;
}
body .bloc-entrees {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin: 0.9rem;
  animation: slide 0.8s ;
}
body .bloc-entrees:hover .acc-prix {
  width: 75%;
}
body .bloc-entrees:hover .anim-check {
  transition-duration: 1s;
  transform: translateX(-100%);
  visibility: visible;
  -webkit-transform: all 0.5s ease-in;
  width: 20%;
}
body .bloc-entrees:hover .anim-check-icon {
  transform: rotate(360deg);
  transition-duration: 1s;
}
body .bloc-entrees2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin: 0.9rem;
  animation: slide 1.5s ;
}
body .bloc-entrees2:hover .acc-prix {
  width: 75%;
}
body .bloc-entrees2:hover .anim-check {
  transition-duration: 1s;
  transform: translateX(-100%);
  visibility: visible;
  -webkit-transform: all 0.5s ease-in;
  width: 20%;
}
body .bloc-entrees2:hover .anim-check-icon {
  transform: rotate(360deg);
  transition-duration: 1s;
}
body .bloc-entrees3 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin: 0.9rem;
  animation: slide 2.2s ;
}
body .bloc-entrees3:hover .acc-prix {
  width: 75%;
}
body .bloc-entrees3:hover .anim-check {
  transition-duration: 1s;
  transform: translateX(-100%);
  visibility: visible;
  -webkit-transform: all 0.5s ease-in;
  width: 20%;
}
body .bloc-entrees3:hover .anim-check-icon {
  transform: rotate(360deg);
  transition-duration: 1s;
}
body .anim-check-icon {
  transform: rotate(0deg);
  transition-duration: 1s;
}
body .acc-prix {
  display: flex;
  justify-content: space-between;
}
body .anim-check {
  transition-duration: 1s;
  visibility: hidden;
  transform: all 0.5s ease-in;
  width: 0;
}
body .anim-check {
  background: #99E2D0;
  width: 0%;
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 16px 16px 0;
}
body i.fas.fa-check-circle {
  color: white;
}
body .footer-global {
  background-color: #333232db;
  margin-top: 5rem;
  overflow: hidden;
}
body .footer-global .titre-spé {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 18px;
  margin-left: 1.5rem;
}
body .footer-global .footer-text {
  text-decoration: none;
  color: white;
}
body .footer-global .footer-text1 {
  text-decoration: none;
  color: white;
  padding-left: 2rem;
}
body .footer-global .footer-text2 {
  text-decoration: none;
  color: white;
  padding-left: 2rem;
}
body .footer-global i {
  color: white;
  font-size: 20px;
}
body .footer-global ul {
  list-style-type: none;
  position: relative;
  right: 1rem;
}

@media (min-width: 768px) {
  body {
    background: black;
    
  }
  
  
}
@media (min-width: 1024px) {
  body {
    background: #FFF;
  }
  body .logo {
    width: 30%;
    height: auto;
    object-fit: cover;
    position: relative;
    left: 30rem;
  }
  body .contenu-header i {
    position: relative;
    left: 45rem;
    top: 3rem;
  }
  body .button-explorer {
    position: relative;
    left: 45rem;
    width: 20%;
  }
  body .button-command {
    border: 0;
    color: white;
    border-radius: 4rem;
    cursor: pointer;
    height: 3.5rem;
    transition: all 0.2s;
    background: linear-gradient(#FF79DA, #9356DC);
    width: 32%;
    position: relative;
    left: 30%;
  }
  body .titre-fonctionnement {
    padding-left: 6rem;
  }
  body .first-button {
    position: relative;
    right: 22rem;
  }
  body .second-button {
    position: relative;
    bottom: 4.6rem;
  }
  body .third-button {
    position: relative;
    left: 20rem;
    bottom: 9.2rem;
  }
  body .main {
    position: relative;
    
    left: 40%;
  }
  body .restau {
    text-align: left;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 4rem;
    margin-left: 1.5rem;
  }
  body .green-ticket {
    position: absolute;
    background-color: #99E2D0;
    border-radius: 3px;
    font-size: 1rem;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
  }
  body .bloc-entrees:hover .anim-check {
    transition-duration: 1s;
    transform: translateX(-100%);
    visibility: visible;
    -webkit-transform: all 0.5s ease-in;
    width: 20%;
  }
  body .bloc-entrees:hover .anim-check-icon {
    transform: rotate(360deg);
    transition-duration: 1s;
  }
  body .bloc-entrees:hover .acc-prix {
    width: 75%;
  }
  body .entrees {
    text-align: left;
    margin-left: 1rem;
    font-size: 20px;
    border-bottom: #99E2D0 2px solid;
    width: 4.5%;
    padding: 0 0 0.3rem;
    margin-top: 0;
  }
  body .plats {
    border-bottom: 2px solid #99e2d0;
    width: 3%;
    padding: 2rem 0px 0.3rem;
  }
  body .desserts {
    text-align: left;
    margin-left: 1rem;
    font-size: 20px;
    border-bottom: #99E2D0 2px solid;
    width: 5%;
    padding: 0 0 0.3rem;
    padding-top: 2rem;
  }
  
}

/*# sourceMappingURL=index.css.map */
