body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body .logo {
  width: 50%;
  margin-top: 1rem;
  padding-left: 5.5rem;
}
body p {
  text-align: center;
}
body .header-localisation {
  font-size: 22px;
  padding-top: 1.5rem;
}
body .header-subtitle {
  font-size: 15px;
}
body .contenu-header i {
  width: 100%;
  position: absolute;
  padding-left: 3rem;
  padding-top: 1.4rem;
}
body h3 {
  text-align: center;
}
body .button-explorer {
  border: 0;
  color: white;
  border-radius: 4rem;
  cursor: pointer;
  height: 3.5rem;
  transition: all 0.2s;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 70%;
  margin-left: 3rem;
}
body .main {
  padding-left: 1rem;
}
body .titre-fonctionnement {
  text-align: left;
}
body .fonctionnement-items {
  position: relative;
  background-color: #FFFFFF;
}
body .item-number {
  position: absolute;
  top: 50%;
  left: 0;
  padding-top: 0.7rem;
  padding-left: 1rem;
}
body .btn-fonctionnement {
  border: 0;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  padding: 0.2rem;
}
body .first-button {
  display: flex;
  align-items: center;
}
body .first-button i {
  margin-left: 1.2rem;
  color: grey;
  padding-top: 0rem;
  padding-left: 1.2rem;
}
body .third-button {
  display: flex;
  align-items: center;
}
body .third-button i {
  color: #9356DC;
  margin-left: 1.4rem;
}
body .ctn-fonctionnement {
  font-size: 20px;
  background-color: #f6f6f6;
  position: relative;
  margin: 10px 20px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 3rem;
  padding: 1rem;
}
body i {
  position: absolute;
  font-size: 25px;
}
body .second-button {
  display: flex;
  align-items: center;
}
body .second-button i {
  padding-top: 0rem;
  padding-left: 2.2rem;
  color: grey;
}
body .third-button i {
  padding-top: 0rem;
  padding-left: 0.7rem;
}
body .icon-button {
  position: absolute;
}
body .icon-button-color {
  position: absolute;
  color: #9356DC;
}
body .img-restaurants {
  width: 100%;
}
body .restau {
  text-align: left;
}
body h2 {
  font-size: 25px;
}
body .heart {
  display: none;
}
body .titre-menu {
  font-family: "Shrikhand", cursive;
}
body .subtitle-menus {
  font-size: 20px;
  text-align: left;
}
body .entrees {
  text-align: left;
  margin-left: 1rem;
  font-size: 20px;
  border-bottom: #99E2D0 2px solid;
  width: 13%;
  padding: 0 0 0.3rem;
}
body .plats {
  text-align: left;
  margin-left: 1rem;
  font-size: 20px;
}
body .menu-plats {
  text-align: left;
  margin-left: 1rem;
  font-size: 17px;
  font-weight: bold;
  margin: 0.8rem;
}
body .acc-plats {
  text-align: left;
  margin-left: 1rem;
  font-size: 15px;
}
body .prix {
  text-align: right;
  font-weight: bold;
  padding-right: 2rem;
}
body .button-command {
  border: 0;
  color: white;
  border-radius: 4rem;
  cursor: pointer;
  height: 3.5rem;
  transition: all 0.2s;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 62%;
  margin-left: 3rem;
}
body .plats {
  border-bottom: #99E2D0 2px solid;
  width: 13%;
  padding: 0 0 0.3rem;
  padding-top: 2rem;
}
body .bloc-entrees {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  background-color: white;
  padding: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
  display: list-item;
  position: relative;
}
body .acc-prix {
  display: flex;
  justify-content: space-between;
}
body .acc-prix:hover {
  width: 75%;
}
body .anim-check:hover {
  transform: rotate(-360deg);
  transition-duration: 1s;
  transform: translateX(-100%);
  visibility: visible;
  -webkit-transform: all 0.5s ease-in;
}
body .anim-check {
  background: #99E2D0;
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 16px 16px 0;
}
body i.fas.fa-check-circle {
  color: white;
}

/*# sourceMappingURL=index.css.map */
