body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;


.logo {
    width: 50%;
    margin-top: 1rem;
    padding-left: 5.5rem;
}

p {
    text-align: center;
}

.header-localisation {
    font-size: 22px;
    padding-top: 1.5rem;
}

.header-subtitle {
    font-size: 15px;
}

.contenu-header i  {
    width: 100%;
    position: absolute;
    padding-top: 1.4rem;
}

h3 {
    text-align: center;
}

.button-explorer {
    border: 0;
    color: white;
    border-radius: 4rem;
    cursor: pointer;
    height: 3.5rem;
    transition: all 0.2s;
    background: linear-gradient(#FF79DA  , #9356DC );
    width: 70%;
    margin-left: 3rem;
}

.main {
    padding-left: 1rem;
}

.titre-fonctionnement {
    text-align: left ;
}

.fonctionnement-items {
    position: relative;
    background-color: #FFFFFF;
}

.item-number {
    position: absolute;
    top: 50%;
    left: 0;
    padding-top: 0.7rem;
    padding-left: 1rem;
}

.btn-fonctionnement {
    border: 0;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    background-color: #9356DC;
    width: 20px;
    height: 20px;
    padding: 0.2rem;
}

.first-button {
    display: flex;
    align-items: center
}

.first-button i {
    margin-left: 1.2rem;
    color: grey;
    padding-top: 0rem;
    padding-left: 1.2rem;
}

.third-button {
    display: flex;
    align-items: center;
}

.third-button i {
    color: #9356DC;
    margin-left: 1.4rem;
}

.ctn-fonctionnement {
    font-size: 20px;
    background-color: #f6f6f6;
    position: relative;
    margin: 10px 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 3rem;
    padding: 1rem;
}

i {
    position: absolute;
    font-size: 25px;
}

.second-button {
    display: flex;
    align-items: center 
}

.second-button i {
    padding-top: 0rem;
    padding-left: 2.2rem;
    color: grey;
}

.third-button i {
    padding-top: 0rem;
    padding-left: 0.7rem;
}

.icon-button {
    position: absolute;
}

.icon-button-color {
    position: absolute;
    color: #9356DC;
}

.img-restaurants {
    width: 100%;
    cursor: pointer;
}

.img-restaurants:hover {
    transform: translate(0,-4px);
    border: 5px solid #f3f1ef;
 }
 .img-restaurants::after {
     content: "";
     width: 400px;
     height: 400px;
     transition: all 0.2s;
 }

.restau {
    text-align: left;
}

h2 {
    font-size: 25px;
}

.menu-restaurants {
    background-color: #f6f6f6;
}

.titre-coeur {
    position: relative;
    height: 5rem;
    overflow: hidden;
  }

  .anim-heart {
    color: black;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    right: 10%;
    padding-bottom: 1.5rem;
  }

  .anim-coeur2 {
    max-height: 0;
    transition: max-height 1s linear;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .heart-2 {
    position: absolute;
    transform: translateY(-100%);
    transition: transform 1s linear;
    color: red;
    font-size: 2rem;
    right: 10%;
    padding-bottom: 1.35rem;
    
  }

  .titre-coeur:hover .anim-coeur2 {
    max-height: 5rem;
  }
  
  .titre-coeur:hover .heart-2 {
    transform: translateY(0);
  }

.titre-menu {
    font-family: 'Shrikhand', cursive;
    text-align: left;
    margin-left: 1rem;
}

 .subtitle-menus {
    font-size: 20px;
    text-align: left;
}

.entrees {
    text-align: left;
    margin-left: 1rem;
    font-size: 20px;
    border-bottom:#99E2D0 2px solid ;
    width: 13%;
    padding: 0 0 0.3rem;
}

.plats {
    text-align: left;
    margin-left: 1rem;
    font-size: 20px;
}

.menu-plats {
    text-align: left;
    margin-left: 1rem;
    font-size: 17px;
    font-weight: bold;
    margin: 0.8rem;
    margin-bottom: 0;
}

.acc-plats {
    text-align: left;
    margin-left: 1rem;
    font-size: 15px;
}

.prix {
    text-align: right;
    font-weight: bold;
    padding-right: 2rem;
    
}

.button-command {
    border: 0;
    color: white;
    border-radius: 4rem;
    cursor: pointer;
    height: 3.5rem;
    transition: all 0.2s;
    background: linear-gradient(#FF79DA  , #9356DC );
    width: 62%;
    margin-left: 3rem;
}

.plats {
    border-bottom:#99E2D0 2px solid ;
    width: 13%;
    padding: 0 0 0.3rem;
    padding-top: 2rem;
}

.bloc-entrees {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 16px;
    background-color: white;
    padding: 0.5rem 0 0.5rem 0.5rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-left: 1rem;
}

.bloc-entrees:hover .acc-prix  {
   width: 75%;
}

.bloc-entrees:hover .anim-check {
    transition-duration: 1s;
    transform: translateX(-100%);
    visibility: visible;
    -webkit-transform: all 0.5s ease-in;
    width: 20%;
}

.bloc-entrees:hover .anim-check-icon {
    transform: rotate(360deg);
    transition-duration: 1s;
}

.anim-check-icon {
    transform: rotate(0deg);
    transition-duration: 1s;
}

.acc-prix {
    display: flex;
    justify-content: space-between;
}

.anim-check {
    transition-duration: 1s;
    visibility: hidden;
    transform: all 0.5s ease-in;
    width: 0;
}

.anim-check {
    background: #99E2D0;
    width: 0%;
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 16px 16px 0;
}

i.fas.fa-check-circle{
    color: white;
}

.footer-global { 
    background-color: #333232db;
    
    .titre-spé {
        font-family: 'Shrikhand', cursive;
        color: white;
        font-size: 18px;
        margin-left: 1rem;
    }
    overflow: hidden;

    .footer-text  {
        
        text-decoration: none;
        color: white;
    }
    .footer-text1 {
        text-decoration: none;
        color: white;
        padding-left: 2rem;
    }
    .footer-text2  {
        text-decoration: none;
        color: white;
        padding-left: 2rem;
    }
    
}

.footer-global i {
    color: white;
    font-size: 20px;
}

.footer-global ul {
    list-style-type: none;
}

}
@media (min-width: 768px) {
    body {
        background: black;
    }
}
@media (min-width: 1024px) {
    body {
        background: blue;
    }
}
