<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./../css/index.css" />
    <link rel="stylesheet" href="./../css/menu.css" />

    <title>La palette du gout</title>
  </head>

  <body>
    <div class="header-restau">
      <a href="./../index.html">
        <i class="fas fa-arrow-left arrow"></i>
      </a>
      <h2 class="titre-restau">OhMyFood</h2>
    </div>
    <img
      class="img-restaurants"
      src="./../imgp3/jay-wennington-N_Y88TWmGwA-unsplash.jpg"
      alt="Image Restaurants"
    />
    <section class="nom-restau">
      <div class="coeur">
        <h1 class="titre-menu">La palette du goût</h1>
        <span class="far fa-heart heart-1"></span>
        <span class="coeur2"><span class="fas fa-heart heart-2"></span></span>
      </div>
    </section>
    <p class="entrees">ENTRÉES</p>
    <div class="menu-restaurants">
      <!--Menu restaurants 1-->

      <div class="bloc-entrees">
        <div class="anim-check">
          <i class="anim-check-icon fas fa-check-circle"></i>
        </div>
        <div class="animation-circle"></div>
        <p class="menu-plats">Fricassée d'escargot</p>
        <div class="acc-prix">
          <p class="acc-plats">Au pimet d'espelette</p>
          <p class="prix">25€</p>
        </div>
      </div>

      <div class="bloc-entrees2">
        <div class="anim-check">
          <i class="anim-check-icon fas fa-check-circle"></i>
        </div>
        <div class="animation-circle"></div>
        <p class="menu-plats">Foie gras de canard mi-cuit</p>
        <div class="acc-prix">
          <p class="acc-plats">Et ses copeaux de truffe noire</p>
          <p class="prix">35€</p>
        </div>
      </div>

      <div class="bloc-entrees3">
        <div class="anim-check">
          <i class="anim-check-icon fas fa-check-circle"></i>
        </div>
        <div class="animation-circle"></div>
        <p class="menu-plats">Oeuf au plat</p>
        <div class="acc-prix">
          <p class="acc-plats">Assaisoné à la truffe sur lit...</p>
          <p class="prix">20€</p>
        </div>
      </div>
      <p class="plats">PLATS</p>
      <div class="bloc-entrees">
        <div class="anim-check">
          <i class="anim-check-icon fas fa-check-circle"></i>
        </div>
        <div class="animation-circle"></div>
        <p class="menu-plats">Filet de boeuf aux herbes</p>
        <div class="acc-prix">
          <p class="acc-plats">Accompagné de sa rimbambelle de légu...</p>
          <p class="prix">40€</p>
        </div>
      </div>
      <div class="bloc-entrees">
        <div class="anim-check">
          <i class="anim-check-icon fas fa-check-circle"></i>
        </div>
        <div class="animation-circle"></div>
        <p class="menu-plats">Parmentier de queue de boeuf</p>
        <div class="acc-prix">
          <p class="acc-plats">À la truffe noire sur sa purée de panais</p>
          <p class="prix">35€</p>
        </div>
      </div>
      <div class="bloc-entrees">
        <div class="anim-check">
          <i class="anim-check-icon fas fa-check-circle"></i>
        </div>
        <div class="animation-circle"></div>
        <p class="menu-plats">Filet de Turbot</p>
        <div class="acc-prix">
          <p class="acc-plats">Aux agrumes</p>
          <p class="prix">44€</p>
        </div>
      </div>
      <p class="desserts">DESSERTS</p>
      <div class="bloc-entrees">
        <div class="anim-check">
          <i class="anim-check-icon fas fa-check-circle"></i>
        </div>
        <div class="animation-circle"></div>
        <p class="menu-plats">Paris-Brest</p>
        <div class="acc-prix">
          <p class="acc-plats">Revisité</p>
          <p class="prix">18€</p>
        </div>
      </div>
      <div class="bloc-entrees">
        <div class="anim-check">
          <i class="anim-check-icon fas fa-check-circle"></i>
        </div>
        <div class="animation-circle"></div>
        <p class="menu-plats">Macaron au chocolat d'exception</p>
        <div class="acc-prix">
          <p class="acc-plats">Et glace à la vanille de Madagascar</p>
          <p class="prix">22€</p>
        </div>
      </div>
      <div class="bloc-entrees">
        <div class="anim-check">
          <i class="anim-check-icon fas fa-check-circle"></i>
        </div>
        <div class="animation-circle"></div>
        <p class="menu-plats">Mousse au chocolat</p>
        <div class="acc-prix">
          <p class="acc-plats">Au piment d'espelette et à la truffe noire</p>
          <p class="prix">23€</p>
        </div>
      </div>
      <button class="button-command">Commander</button>
    </div>
    <!-- <footer> Footer -->
    <footer class="footer-global">
      <h2 class="titre-spé">OhMyFood</h2>

      <ul>
        <li><i class="fas fa-utensils"></i></li>
        <li><a class="footer-text1" href="#">Proposez un restaurant</a></li>
      </ul>
      <ul>
        <li><i class="fas fa-hands-helping"></i></li>
        <li><a class="footer-text2" href="#">Devenir partenaire</a></li>
      </ul>

      <ul>
        <li><a class="footer-text" href="#">Mentions légales</a></li>
      </ul>
      <ul>
        <li>
          <a class="footer-text" href="mailto:ohmyfood@restau.com">Contact</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
